body{
    background-color: #abb8c3;
}
p{
    font-size: 19px;
}

.cakes{
    padding: 4px;
    border: 1px solid black;
    color: red;
    text-decoration: none;
    font-size: 20px;
    
}
.special{
    padding:2px;
    border: 2px solid red;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.cakes:hover{
  background-color: #ddd;
}
.special:hover{
background-color: #ddd; 
}
.box1{
   margin-left: 500px;
    border:1px solid #bcc8d1 ;
    max-width: 700px;

}

.h1{
    margin-left: 1100px;
    font-size: 40px;

}
.h{
    padding-left: 275px;
    font-size: 29px;
    color: #167bc7;

}
.p{
    padding: 15px;
    font-size: 20px;
}

.box2{
    margin-left: 1300px;
     border:1px solid #bcc8d1 ;
     max-width: 700px;
 
 }
 .h{
     padding-left: 275px;
     font-size: 29px;
     color: #167bc7;
 
 }
 .p{
     padding: 15px;
     font-size: 20px;
 }



 .box3{
    margin-left: 500px;
     border:1px solid #bcc8d1 ;
     max-width: 700px;
 
 }
 .h{
     padding-left: 275px;
     font-size: 29px;
     color: #167bc7;
 
 }
 .p{
     padding: 15px;
     font-size: 20px;
 }
